// Glyphicons font path
$icon-font-path:        "../fonts/";

// Grid settings
$main-sm-columns:       12;
$sidebar-sm-columns:    3;

// Colors
$brand-primary:         #27ae60;
$jumbotron-padding:     0;
$input-border-radius:   0;
$brand-dark-grey:       #404040;
$brand-light-grey:      #F0F0F0 ;