@import "common/_variables";

// Automatically injected Bower dependencies via wiredep (never manually edit this block)
// bower:scss
@import "../../bower_components/bootstrap-sass-official/assets/stylesheets/_bootstrap.scss";
// endbower

@import "common/_global";
@import "components/_buttons";
@import "components/_comments";
@import "components/_forms";
@import "components/_grid";
@import "components/_wp-classes";
@import "layouts/_header";
@import "layouts/_sidebar";
@import "layouts/_footer";
@import "layouts/_pages";
@import "layouts/_posts";

//5th column
.col-xs-5ths,
.col-sm-5ths,
.col-md-5ths,
.col-lg-5ths {
    position: relative;
    min-height: 1px;
    padding-right: 10px;
    padding-left: 10px;
}

.col-xs-5ths {
    width: 20%;
    float: left;
}

@media (min-width: 768px) {
    .col-sm-5ths {
        width: 20%;
        float: left;
    }
}

@media (min-width: 992px) {
    .col-md-5ths {
        width: 20%;
        float: left;
    }
}

@media (min-width: 1200px) {
    .col-lg-5ths {
        width: 20%;
        float: left;
    }
}

//Custom html
html, body {
  width: auto !important;
  overflow-x: hidden !important;
}

.no-gutter {
  padding-right: 0;
  padding-left: 0;
}

.container-fluid .container {
    padding-left:0;
    padding-right:0;
}

@media (min-width: $screen-sm-min) {
      .no-gutter {
    padding-right: 5px;
    padding-left: 5px;
  }
  }
@media (min-width: 768px) {
  .no-gutter {
    padding-right: 5px;
    padding-left: 5px;
  }
}

@media (min-width: 992px) {
  .no-gutter {
    padding-right: 0;
    padding-left: 0;
  }
}

@media (min-width: 1200px) {
  .no-gutter {
    padding-right: 0;
    padding-left: 0;
  }
}

.mobile-stacked {

}
@media (max-width: $screen-md-min) {
      .mobile-stacked {
      margin-bottom: 20px;
    }
  }


.row.no-gutter [class*='col-']:not(:first-child),
.row.no-gutter [class*='col-']:not(:last-child) {
  padding-right: 0;
  padding-left: 0;
}

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
  //font-weight: bold;
}

.prime-colored {
    color: $brand-primary;
}
.alternate-colored {
    color: $brand-dark-grey;
    font-size-adjust: 0.45;
}
.light-grey-bg {
  background-color: $brand-light-grey;
}

.fill {
width: 100%;
height: 100%;
background-position: center;
background-size: cover;
}

.centered-text {
  text-align: center;
}

.navbar {
  margin-bottom: 0;
}
.content-section {
    padding-bottom: 30px;
    border-spacing: 2px;
    padding-top: 0;
    margin-bottom: 0px;
    padding-left: 15px;
    padding-right: 15px;
}
.container .jumbotron {
    border-radius: 0;
}

.main-heading {
    font-weight: 100;
}



.title-text-button-header h4 {
  padding-bottom: 10px;
  border-spacing: 2px;
}

.three-column {
  text-align: center;
  padding-top: 40px;
  padding-bottom: 30px;
}

.three-column-header h4 {
  padding-bottom: 20px;
  border-spacing: 2px;
}

.three-column-services {
  text-align: center;
  padding-bottom: 80px;
}
.three-column-services-with-background:hover {
    background-image: linear-gradient(to bottom, rgba(255,255,255,0.9) 0%,rgba(255,255,255,0.7) 100%), url("http://paradigm.sunnychron.com/wp-content/uploads/2015/04/dreamstime_m_31048324.jpg");
    background-size: cover;
    background-attachment: fixed;
}
.three-column-services-header {
  margin: 60px 0 40px 0;
}

.three-column-services-header h3 {
  padding-bottom: 10px;
  border-spacing: 2px;
}

.three-column-services .columns{
  margin-bottom: 60px;
}

.three-column-services .column{
  padding-left: 5px;
  padding-right: 5px;
}

.four-column {
  text-align: center;
}

.four-column-header h4 {
  padding-bottom: 10px;
  border-spacing: 2px;
}

.four-column-logos {
  text-align: center;
}

.four-column-logos-header h4 {
  padding-bottom: 10px;
  border-spacing: 2px;
}
.five-column-logos {
  text-align: center;
  padding-top: 0;
  margin-bottom: 10px;
}

.five-column-color-logos {
  text-align: center;
  padding-top: 0;
  margin-bottom: 30px;
}

.five-column-color-logos-header {
  margin: 10px 0;
}

.four-column-profiles {
  background-color: $brand-light-grey;

}
.four-column-profiles-header {
  margin-top: 20px;
  text-align: center;
}


.four-column-profiles-header h4 {
  padding-bottom: 10px;
  border-spacing: 2px;
  text-align: center;
}

.four-column-profiles .column {
  padding: 3px;
}
.four-column-profiles .columns {
  padding: 2px;
  margin-bottom: 20px;
}

.title-text-button {
  padding-top: 40px;
  text-align: center;
}

.profile-name-tag {
  padding-left: 5px;
  background-color: #ffffff;
}
.profile-name-tag strong {
  color: $brand-primary;
}

.no-border-spacing {
  border-spacing: 0;
}

.contact-listings {
  padding-bottom: 20px;
}

.contact-listings-group {
  padding-top: 40px;
}

.image-title-text h5 {
  text-align: left;
  padding-top: 40px;
  padding-bottom: 10px;
  color: $brand-primary;
}

.image-title-text .column{
  padding-bottom: 0;
  margin-bottom: 0;
}

.image-title-text h5:after {
  content: ' ';
  display: block;
  width: 50%;
}

.image-title-text-column {
  margin-bottom: 40px;
}

.image-title-text-column-content {
  padding-top: 40px;
}



.button {
  background-color: #428bca;
  border-color: #357EBD;
  color: #ffffff;
  text-transform: none;
  font-weight: normal;
  border-radius: 3px 3px 3px 3px;
  font-size: 12px;
  line-height: 1.5;
  padding: 10px  15px;
}

.panel {
  background-color: $brand-light-grey;
  border: 1px solid activecaption;
  border-color: #DDDDDD;
  border-radius: 0px 0px 0px 0px;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
}

.panel-default > .panel-heading {
  background-color: #FFFFFF;
  border-color: #DDDDDD;
  color: #333333;
}
.panel-heading {
  background-color: #FFFFFF;
  border: 1px solid activecaption;
  padding:  0 10px 0 5px;
}

.panel-heading h4{
  color: $brand-dark-grey;
}

.panel-body {
  background-color: #FFFFFF;
  padding:  0 10px 0 5px;
}

.panel-footer {
  background-color: $brand-light-grey;
  border-bottom: 1px solid transparent;
  padding:  0 10px 0 5px;
}

.events-row {
  margin-top: 40px;
  margin-bottom: 40px;
}
.events-row .event-list-item {
  margin-bottom: 30px;
}
.news_and_events_carousel .carousel {
  margin-bottom: 40px;
}
.news_and_events_carousel-header {
  margin-top: 20px;
  margin-bottom: 20px;
  text-align: center;
}
.news_and_events_carousel .carousel-control {
  background-image: none;
  color: $brand-dark-grey;
}

.home-page-carousel-item {
  background: transparent;

}
.home-page-carousel-item-inner-top {
  min-height: 100px;
  background-size: cover;
}
.home-page-carousel-item-inner-bottom {
  background-color: #FFFFFF;
  min-height: 50px;
}
.home-page-carousel-item-inner-bottom strong {
  color: $brand-primary;
}
.carousel-item-link {
  position:absolute;
  width:100%;
  height:100%;
  top:0;
  left: 0;

  /* edit: added z-index */
  z-index: 1;

  /* edit: fixes overlap error in IE7/8,
     make sure you have an empty gif */
  background-image: url('empty.gif');
}

.post-preview {
    padding-top: 30px;
    padding-bottom: 30px;
    border-bottom: 1px solid $brand-light-grey;
}
.post-preview-header {
  border-bottom: 1px solid $brand-light-grey;
}

.post-preview-image {
  border: 1px solid $brand-light-grey;
  padding:  15px 15px 15px 15px;
}

.post-page-image {
    float: left;
    margin: 5px;
    background-color: #ffffff;
    border: 1px solid $brand-light-grey;
    padding:  15px 15px 15px 15px;
}

.entry-title-single-page {
  color: $brand-primary;
}

.advisory-board-pop-up h4 strong {
  color: $brand-primary;
}

.em-search-wrapper {
  padding-left: 15px;
  padding-right: 15px;
}

.css-events-list {
  padding-left: 15px;
  padding-right: 15px;
}

.faded-background {
    background-image: linear-gradient(to bottom, rgba(255,255,255,0.9) 0%,rgba(255,255,255,0.7) 100%), url("http://paradigm.sunnychron.com/wp-content/uploads/2015/04/dreamstime_m_30027174.jpg");
    background-size: cover;
    background-attachment: fixed;
}

/* To change position of close button to Top Right Corner */
#colorbox #cboxClose
{
  top: 0;
  right: 0;
}
#cboxLoadedContent{
  margin-top:28px;
  margin-bottom:0;
}

.entry-summary ul {
  overflow: hidden;
}
.carousel-inner {
min-height: 240px;
}

.display-desktop {
      display: none
    }

@media (min-width: 992px) {
    .display-desktop {
      display: block;
    }
}


@media (min-width: 992px) {
 .display-mobile {
  display: none;
}
}


/////////////////////////////////////////////////////////////////////////////////////
/*  Ford Sage Additions */
//////////////////////////////////////////////////////////////////////////////////

body {
  background-color: #000;
  color: #fff;
  font-family: 'Roboto', sans-serif !important;
}
h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6  {
  font-family: 'Oswald', sans-serif !important;
}
.alt-background {
    background-color: #fff;
    color: #000;
}
.alt-2-background {
    background-color: $brand-light-grey;
    color: #000;
}
.titles {
    margin-top: 50px;
    margin-bottom: 40px;
}
a {
    color: #fff;
}
/* mouse over link */
a:hover {
    color: #0000FF;
    text-decoration: none;
}
svg {
    height: 80px;
    width: 80px; 
}

svg path {
    fill: #000;
    stroke: #000;
    pointer-events: all;
}
svg path:hoover {
    fill: $brand-dark-grey;
}
.icon-section {
  background-color: #fff;
  color: #000;
  padding-top: 40px;
  padding-bottom: 40px;


  a {
    color: #000;
  }
  a:hover {
    color: #0000FF;
  } 
  .img-responsive {
    margin: 0 auto;
}
}
.intro-text {
    background-color: $brand-light-grey;
    color: #000; 
    padding-top: 50px;
    padding-bottom: 50px;
}
#profile-photo {
    animation-name: fadein;
    animation-duration: 10s;
}

#first-job-title {
    animation-name: fadein;
    animation-duration: 6s;
}
#second-job-title {

    animation-name: fadein;
    animation-duration: 10s;
}
#third-job-title {

    animation-name: fadein;
    animation-duration: 12s;
}
#coming-soon-text {

    animation-name: example;
    animation-duration: 12s;
}
/* Chrome, Safari, Opera */
@-webkit-keyframes example {
    0%   {color:grey;  top:200px; opacity: 0;}
    100% {color: #fff;  top:0px;opacity: 1;}
}

/* Standard syntax */
@keyframes example {
    0%   {color: gray;  top:200px; opacity: 0;}
    100% {color: #fff;  top:0px;opacity: 1;}
}
/* Chrome, Safari, Opera */
@-webkit-keyframes example-alt {
    0%   {color: #fff;  top:200px; opacity: 0;}
    100% {color: #606060;  top:0px;opacity: 1;}
}

/* Standard syntax */
@keyframes example-alt {
    0%   {color: #fff;  top:200px; opacity: 0;}
    100% {color: #606060;  top:0px;opacity: 1;}
}


/* Chrome, Safari, Opera */
@-webkit-keyframes mymove {
    from {top: 800px;}
    to {top: 0px;}
}

/* Standard syntax */
@keyframes mymove {
   from {top: 800px;}
    to {top: 0px;}
}


@keyframes fadein {
    from { opacity: 0; color: #fff;}
    to   { opacity: 1; color: #fff;}
}

/* Firefox < 16 */
@-moz-keyframes fadein {
   from { opacity: 0; color: #fff;}
    to   { opacity: 1; color: #fff;}
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
    from { opacity: 0; color: #fff;}
    to   { opacity: 1; color: #fff;}
}

/* Internet Explorer */
@-ms-keyframes fadein {
    from { opacity: 0; color: #fff;}
    to   { opacity: 1; color: #fff;}
}

/* Opera < 12.1 */
@-o-keyframes fadein {
    from { opacity: 0; color: #fff;}
    to   { opacity: 1; color: #fff;}
}

.text-section {
    padding-top: 30px;
    padding-bottom: 30px;
}

.profile-photo {
    background-position: 0% 10%;
    background-repeat: no-repeat;
    border-radius: 50%;
    width: 150px;
    height: 150px;
    border: 1px solid #fff;
    background-image: url('http://upload.wikimedia.org/wikipedia/commons/thumb/0/0d/Ski_trail_rating_symbol-blue_square.svg/600px-Ski_trail_rating_symbol-blue_square.svg.png');
    background-size: 341px;   
    background-repeat: no-repeat;
    background-position: 50%;
}


.wpcf7 input[type="text"],
.wpcf7 input[type="email"],
.wpcf7 textarea {
  color: #000;
  border: 2px solid #000;
  background-color: #fff; 
}
.wpcf7 input[type="submit"] {
  color: #fff;
  border: 2px solid $brand-light-grey;
  background-color: #000; 
}

.wpcf7-form-control {
  width: 100%
}

.jumbotron {
    /* add bootstrap jumbotron background image */
    background-image: url('http://www.amosford.com/wp-content/themes/fordsage/dist/images/deskpic.jpg');
    background-size: cover;
    color: #FFF;
    margin-top: 0;
    padding-top: 80px;
    padding-bottom: 100px;
}

@media (min-width: 768px) {
 .jumbotron {
    margin-top: -125px;
    padding-top: 125px;
  }
}

@media (min-width: 1200px) {
 .jumbotron {
    background-position: fixed;
    background-attachment: fixed;
  }
} 

.white-border-link {
   border: 2px solid #fff;
   padding-left: 5px;
   padding-right: 5px;
}

.fun-facts {
  background-color: #fff;
  color: #000;
  padding-top: 20px;
  padding-bottom: 20px;

}

.fun-images {
  background-color: $brand-light-grey;

  .img-responsive {
    opacity: 0.8;
    filter: alpha(opacity=80); /* msie */
     background-color: #000;
  }
}

.dark-grey-text {
  color: $brand-dark-grey;
}

.med-grey-text {
  color: $brand-med-grey;
}

.light-grey-text {
  color: $brand-light-grey;
}

.primary-color-text {
  color: $brand-primary;
}

.bottom-border-text {
  padding-bottom: 10px;
}

.bottom-border-text:before {
  content : "";
  position: absolute;
  left    : 25%;
  bottom  : 0;
  height  : 1px;
  width   : 50%;  
  border-bottom:1px solid $brand-light-grey;
}


