#menu-main-nav {
  float: right;
}
#menu-main-nav .active a{
  color: #ffffff;
  background-color: #000000;
}

@media (min-width: 768px) {
  .navbar-nav li a {
    padding-top: 40px;
    padding-bottom: 40px;
  } 
}
.navbar-brand>img {
 width: 60px;
 height: 60px;
}
.navbar-default {
	color: #000;
	background-color: #fff;
}