#menu-main-nav {
  float: right;
}
#menu-main-nav .active a{
  color: #ffffff;
  background-color: #000000;
  border: 1px solid #ffffff;
}

@media (min-width: 768px) {
  .navbar-nav li a {
    margin-top: 35px;
    margin-bottom: 35px;
  } 
}
.navbar-brand>img {
 width: 207px;
 height: 90px;
}
.navbar-default {
	color: #000;
	background-color: transparent;
  border-color: transparent;
}